<section id="new-job-form">
  <div id="new-job-form-inner" class="skinny-wrapper">
    <h1>Post a Job</h1>
    <%= form_for @gig do |f| %>
      <div class="fields-wrapper cf">
        <div class="half-width fl-left">
          <div class="form_field">
            <%= f.label :name %><br>
            <%= f.text_field :name %><br>
            <span>(Name of the job)</span>
          </div>
          <div class="form_field">
            <%= f.label :location %><br>
            <%= f.text_field :location %>
            <span>(Delhi, Newyork, etc..)</span>
          </div>
          <div class="form_field">
            <%= f.label :description %><br>
            <%= f.text_area :description %>
            <span>(Write the description about the job, your website, etc..)</span>
          </div>
        </div>
        <div class="half-width fl-left">
          <div class="form_field">
            <%= f.label :budget %><br>
            <%= f.number_field :budget %>
            <span>(Ex: $1000)</span>
          </div>
        </div>
      </div>
      <div class="form_action">
        <%= f.submit 'Post the Job', data: {disable_with: 'Posting your job' }, class: 'button-large' %>
      </div>
    <% end %>
  </div>
</section>